$color:rgb(237, 73, 86);
$color: rgb(0, 55, 107);
$color:rgb(0, 149, 246);
$color:rgb(0, 0, 0);
$color:rgb(38, 38, 38);
$color:rgb(118, 118, 118);
$color:rgb(142, 142, 142);
$color:rgb(199, 199, 199);
$color:rgb(219, 219, 219);
$color:rgb(239, 239, 239);
$color:rgb(255, 255, 255);