.box_container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.box_container>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
}

.box_container_form_logo {
    width: 110px;
}

.box_container_img {
    background-image: url('./assets/img/bg-app.png');
    background-position: center;
    background-size: cover;
}

@media (max-width: 768px) {
    .box_container_img {
        display: none !important;
    }

    .box_container>div {
        align-items: center;
        padding: 0px;
    }
}