@import './../abstracts/variables';

.container__navbar {
    padding: 0px 20px;
    height: 54px;
    border-bottom: 1px solid $gray-100;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    .box__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 975px;

        &__logo {
            height: 32px;
            margin-top: 7px;
        }

        &__search {
            border: 1px solid $gray-100;
            border-radius: 3px;
            text-align: center;
            background-color: $gray-200;
            height: 28px;
            width: 215px;
            color: $gray-100;
        }

        &__search::placeholder {
            color: $gray-500;
        }

        &__search:focus {
            text-align: left;
            padding-left: 20px;
            color: $dark;
        }

        .navbar__icon {

            img {
                height: 22px;
            }

            img:not(:first-child) {
                margin-left: 22px;
            }

            img:last-child {
                border-radius: 50%;
            }
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .box__navbar__search {
        display: none;
    }
}